.container {
  max-width: 96rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #FFB100;
}

.star--empty {
  color: #FFB100;
}

.review__comment--user{
  color: red !important;
}

:global(.vtex-reviews-and-ratings-2-x-container){
  padding-left: 60px !important;
  padding-right: 60px !important;
  margin-top: 60px !important;
}


:global(.vtex-reviews-and-ratings-2-x-reviewsHeading){
  color: #292929 !important;
  font-family: 'Gotham-Bold';
  font-size: 16px;
  font-weight: normal;
}


:global(.vtex-reviews-and-ratings-2-x-reviewCommentsContainer).review__comment{
  color: #292929 ;
  font-family: 'Gotham-Bold';
  font-size: 16px !important;
  font-weight: normal;
}


.review__comment--user{
  text-align: center !important;
  font-family: 'Gotham-Light' !important;
  font-size: 12px !important;
  letter-spacing: 0px !important;
  text-transform: capitalize;
}
